.top-container {
  background-color: #94B49F;
  padding-top: 50px;
}

.middle-container {
  background-color: #CEE5D0;
  margin: 0 auto 0 auto;
}

.bottom-container {
  background-color: #FCF8E8;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* Colors
olive green,mint green, cream, unfired brick
94B49F
CEE5D0
FCF8E8
ECB390
*/
h1 {
  width: 50%;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', arial;
  font-size: 3.75rem; /*100% = 16px = 1em or "M" size */
  color: #1f4603;
  line-height: 200%;
}

h2{
  margin: auto auto auto 0;
  padding-bottom: 20px;
  font-size: 2.0rem;
  color: #1f4603;
  font-family: serif, arial;
  font-weight: normal;
}

h3{
  text-decoration: underline;
  color: #5a1e12;
  font-family: sans-serif, arial;
  font-weight: normal;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* Open Sans  is primary, sans-serif is fallback*/
}

hr{
  border-style: none;
  border-top: 15px dotted;
  width: 10%;
  margin-top: 75px;
  margin-bottom: 75px;
  color: #ECB390;
}

.leftTree {
  position: absolute;
  left: 425px;
  top: 350px;
  height: 70px;
  width: 70px;
}

.rightTree {
  position: absolute;
  top: 350px;
  right: 425px;
  height: 70px;
  width: 70px;
  transform: scaleX(-1);
}

.pyramid {
  height: 200px;
  width: 200px;
}

.profile{
  width: 30%;
  text-align: center;
  margin: auto;
}

.profilePic {
  height: 300px;
  width: 200px;
  border-radius: 100%;
  margin: 10px 0 0 0;
}

.typeMonkey{
  width:280px;
  height:210px;
  float: left;
  margin-left: 170px;
  margin-right: 30px;
  /* source link, site under image later <a href="https://giphy.com/gifs/coding-zOvBKUUEERdNm">via GIPHY</a> maybe as caption? */
}

.aboutSkills{
  text-align: left;
  width: 80%;
}

.blueprint {
  height: 50px;
  width: 50px;
}

.problem-solving {
  height: 50px;
  width: 50px;
}

.teamwork {
  height: 50px;
  width: 50px;
}

.functionalSkills{
  margin-top: 60px;
}

.skillsTable{
  margin-left: 170px;
  border-spacing: 10px;
  text-align: left;
}

.contactTable{
  text-align: center;
  margin: auto;
  border-spacing: 10px;
}

.linkedin-link{
  color: #5a1e12;
}

.email-link{
  color: #5a1e12;
}

a{
  text-decoration: none;
}
a:hover{
  color: red;
}

.contactMe{
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.contactButton {
  background: #b3822e;
  background-image: -webkit-linear-gradient(top, #b3822e, #5a1e12);
  background-image: -moz-linear-gradient(top, #b3822e, #5a1e12);
  background-image: -ms-linear-gradient(top, #b3822e, #5a1e12);
  background-image: -o-linear-gradient(top, #b3822e, #5a1e12);
  background-image: linear-gradient(to bottom, #b3822e, #5a1e12);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ECB390;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contactButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
